.title {
  color: Black;
  font-style: "Times New Roman", Georgia, serif;
  text-align: center;
  font-size: 30px
}
.flag-section {
  background-image: url("images/ghana.jpg") rgba(0,0,0,0.5);
  background-size: cover;
  width: 60%;
  height: 20vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  position: relative;
}
.akan-section {
  color: Black;
  font-style: italic;
  text-align: center;
  font-size: 40px; 
  width: 110%;
  height: 20vh;
  background-attachment: fixed;
  background-position: center;

}
.p {
  font-family: sans-serif;
  font-size: 45px;
}